Repository Gavin1103/vr-balance: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, deploy-backend, deploy-frontend

.gitlab-ci.build-frontend.yml:

# Build frontend
build-frontend:
  image: node:lts
  stage: build
  tags:
    - local
  script:
    - cd frontend
    - npm install
    - npm run build
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - frontend/**/*

.gitlab-ci.deploy-backend.yml:

# Deploy backend
deploy-backend:
  stage: deploy
  tags:
    - local
  before_script:
    - apt update && apt install -y curl unzip
    - curl -fsSL https://railway.app/install.sh | sh
    - export PATH="$HOME/.railway/bin:$PATH"
  script:
    - cd backend
    - mkdir -p .railway
    - echo "{\"projectId\":\"$RAILWAY_PROJECT_ID\",\"environmentId\":\"production\",\"serviceId\":\"$RAILWAY_SERVICE_ID_BACKEND\"}" > .railway/project.json
    - railway up --ci --service=$RAILWAY_SERVICE_ID_BACKEND
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - backend/**/*

.gitlab-ci.deploy-frontend.yml:

# Deploy frontend
deploy-frontend:
  stage: deploy
  tags:
    - local
  before_script:
    - apt update && apt install -y curl unzip
    - curl -fsSL https://railway.app/install.sh | sh
    - export PATH="$HOME/.railway/bin:$PATH"
  script:
    - cd frontend
    - mkdir -p .railway
    - echo "{\"projectId\":\"$RAILWAY_PROJECT_ID\",\"environmentId\":\"production\",\"serviceId\":\"$RAILWAY_SERVICE_ID_FRONTEND\"}" > .railway/project.json
    - railway up --ci --service=$RAILWAY_SERVICE_ID_FRONTEND
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - frontend/**/*

Added to do text in progress tab UI
  Assets/Scenes/MainScene.unity
Due: none

Added fallback if there is no previous exercise
  backend/src/main/java/vr/balance/app/service/UserStatsService.java
Due: deploy-backend

WIP UI improvements
  Assets/Content/Prefabs/UI/Customize.meta
  Assets/Content/Prefabs/UI/Customize/MapButton.prefab
  Assets/Content/Prefabs/UI/Customize/MapButton.prefab.meta
  Assets/Content/Prefabs/UI/Exercises.meta
  Assets/Content/Prefabs/UI/Exercises/ExerciseButton.prefab
  Assets/Content/Prefabs/UI/Exercises/ExerciseButton.prefab.meta
  Assets/Content/Prefabs/UI/Exercises/ExerciseSquare.prefab
  Assets/Content/Prefabs/UI/Exercises/ExerciseSquare.prefab.meta
  Assets/Content/Prefabs/UI/History.meta
  Assets/Content/Prefabs/UI/History/ExerciseHistory.prefab
  Assets/Content/Prefabs/UI/History/ExerciseHistory.prefab.meta
  Assets/Scenes/MainScene.unity
  Assets/Scripts/Exercises/Exercise.cs
  Assets/Scripts/Exercises/ExerciseManager.cs
  Assets/Scripts/Exercises/ExerciseSO.cs
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/GenericExercise.cs
  Assets/Scripts/Exercises/Implemented Exercises/2Balance Test/BalanceTestExercise.cs
  Assets/Scripts/Exercises/Implemented Exercises/3Fireflies/FireFlyExercise.cs
  Assets/Scripts/Exercises/Implemented Exercises/3Fireflies/FireFlyExerciseSO.cs
  Assets/Scripts/Exercises/Implemented Exercises/4Archery/ArcheryExercise.cs
  Assets/Scripts/UI/Main Menu/3Exercise Panel/CategoryRow.cs
  Assets/Scripts/UI/Main Menu/3Exercise Panel/CategoryRow.cs.meta
  Assets/Scripts/UI/Main Menu/3Exercise Panel/ExerciseCategory.cs
  Assets/Scripts/UI/Main Menu/3Exercise Panel/ExerciseCategory.cs.meta
Due: none

edited documentation
  backend/src/main/java/vr/balance/app/service/UserStatsService.java
Due: deploy-backend

huge progress to UI
  Assets/Resources/Exercises/1 Balance Test/Balance Test.asset
  Assets/Resources/Exercises/2 Stretch/Stretch.asset
  Assets/Resources/Exercises/3 Glute Bridge/Glute Bridge.asset
  Assets/Resources/Exercises/4 Firefly/Firefly.asset
  Assets/Resources/Exercises/5 Squat/Squat.asset
  Assets/Resources/Exercises/6 Lunge/Lunge.asset
  Assets/Scenes/MainScene.unity
  Assets/Scripts/Exercises/ExerciseManager.cs
  Assets/Scripts/Exercises/ExerciseSO.cs
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/GenericExercise.cs
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/GenericExerciseSO.cs
  Assets/Scripts/Exercises/Implemented Exercises/2Balance Test/BalanceTestExerciseSO.cs
  Assets/Scripts/Exercises/Implemented Exercises/4Archery/ArcheryExerciseSO.cs
Due: none

Done i think
  Assets/Scenes/MainScene.unity
Due: none

More UI progress
  Assets/Scenes/MainScene.unity
Due: none

Even more UI progress
  Assets/Scenes/MainScene.unity
Due: none

Leaderboard now becomes offline when leaving the selected exercise
  Assets/Scripts/UI/Main Menu/3Exercise Panel/DeselectExerciseButton.cs
Due: none

Removed color on drag
  Assets/Scenes/MainScene.unity
Due: none

throw exception when storing an earlier date than the most recent exercise
  backend/src/main/java/vr/balance/app/repository/exercise/CompletedExerciseRepository.java
  backend/src/main/java/vr/balance/app/service/UserStatsService.java
Due: deploy-backend

Now scrollable
  Assets/Content/Prefabs/UI/Exercises/ExerciseButton.prefab
  Assets/Content/Prefabs/UI/Exercises/ExerciseSquare.prefab
  Assets/Scenes/MainScene.unity
Due: none

Scrolling feels better
  Assets/Scenes/MainScene.unity
Due: none

Added website technical documentation and comments
  documentation/VR Balance website technical documentation.pdf
  frontend/src/components/UnautorizedComponent.vue
  frontend/src/components/patientDetailview/RecentBalanceTestsComponent.vue
  frontend/src/composables/useApiFeedback.ts
  frontend/src/composables/useRoleAcces.ts
  frontend/src/stores/AuthenticationStore.ts
  frontend/src/utils/ApiErrorHandler.ts
Due: build-frontend, deploy-frontend

Added website and API deployment documentation
  documentation/VR Balance deployment API and website documentation.pdf
Due: none

Updated user manual
  documentation/User Manual Motion VR Physiotherapy.pdf
Due: none

Add files via upload
  documentation/Unity Documentation/SoundSystem– Technical Transfer.pdf
Due: none

New folder structure
  documentation/.DS_Store
  documentation/API /VR Balance API installation manual.pdf
  documentation/API /VR Balance API technical documentation.pdf
  documentation/Unity/SoundSystem– Technical Transfer.pdf
  documentation/Unity/VR Balance Unity Documentation (Posture, Calibration & Login).pdf
  documentation/Website/VR Balance website installation manual.pdf
  documentation/Website/VR Balance website technical documentation.pdf
  documentation/deployement/VR Balance deployment API and website documentation.pdf
Due: none

Moved japan map banners
  Assets/Scenes/MainScene.unity
Due: none

removed " "
  documentation/API/VR Balance API installation manual.pdf
  documentation/API/VR Balance API technical documentation.pdf
Due: none

Add files via upload
  documentation/Unity/FireFly minigame- Techinical Transfer.pdf
Due: none

Add files via upload
  documentation/Unity/DifficultyManager – Technical Transfer.pdf
Due: none

Removed sprints folder
  documentation/sprint/.DS_Store
  documentation/sprint/sprint-1/retro.png
  documentation/sprint/sprint-2/sprint-2-retro.png
Due: none

Uber final uvuwevwevwe
  documentation/Unity/Exercises.md
  documentation/Unity/FeedbackManager.md
  documentation/Unity/MapManager.md
  documentation/Unity/MotionUML.pdf
Due: none

Documentatie
  documentation/Main-Technical-Documentation.pdf
  documentation/User Manual Motion VR Physiotherapy.pdf
Due: none

Removed preset balance
  Assets/Scenes/MainScene.unity
Due: none

added: technical documentation (general) and user manual (en/nl)
  documentation/Technical Documentation Motion VR Physiotherapy v1.pdf
  documentation/User Manual Motion VR Physiotherapy.pdf
Due: none

Build
  .utmp/RelWithDebInfo/1i2a5130/arm64-v8a/.cmake/api/v1/reply/index-2025-06-24T08-41-26-0711.json
  .utmp/RelWithDebInfo/1i2a5130/arm64-v8a/.ninja_deps
  .utmp/RelWithDebInfo/1i2a5130/arm64-v8a/.ninja_log
  .utmp/RelWithDebInfo/1i2a5130/arm64-v8a/CMakeFiles/CMakeOutput.log
  .utmp/RelWithDebInfo/1i2a5130/arm64-v8a/configure_fingerprint.bin
  .utmp/tools/release/arm64-v8a/compile_commands.json
  Assets/Content/Fonts/Passthrough/LiberationSans SDF - Fallback.asset
  Assets/Content/Fonts/Physiotherapy/Salsa-Regular SDF.asset
  Assets/Content/Imported models/NPC Model/NPCOverride.overrideController
  Assets/Scripts/NPC Scripts/CreateMuscleRaiseToTPose.cs
  Assets/Scripts/NPC Scripts/RaiseToTPoseGenerator.cs
Due: none

Build
  .utmp/RelWithDebInfo/1i2a5130/arm64-v8a/configure_fingerprint.bin
  Assets/Content/Prefabs/Exercise/Firefly/FireFlyBoth.prefab
  Assets/Content/Prefabs/Exercise/Firefly/FireFlyLeft.prefab
  Assets/Content/Prefabs/Exercise/Firefly/FireFlyRight.prefab
  Assets/Irrelevant/Settings/Project Configuration/UniversalRenderPipelineGlobalSettings.asset
Due: none

Threshold Behaviour
  Assets/Content/Fonts/Passthrough/LiberationSans SDF - Fallback.asset
  Assets/Content/Imported models/NPC Model/NPCOverride.overrideController
  Assets/Resources/Exercises/5 Squat/PosEasySO.asset
  Assets/Resources/Exercises/5 Squat/PosHardSO.asset
  Assets/Resources/Exercises/5 Squat/PosMediumSO.asset
  Assets/Resources/Exercises/5 Squat/ThreshHold.asset
  Assets/Resources/Exercises/5 Squat/ThreshHold.asset.meta
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/ExerciseBehaviour/7Threshold.meta
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/ExerciseBehaviour/7Threshold/ThresholdBehaviour.cs
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/ExerciseBehaviour/7Threshold/ThresholdBehaviour.cs.meta
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/ExerciseBehaviour/7Threshold/ThresholdBehaviourSO.cs
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/ExerciseBehaviour/7Threshold/ThresholdBehaviourSO.cs.meta
  ProjectSettings/ProjectSettings.asset
Due: none

You can now download the balance test results (all phases)
  backend/src/main/java/vr/balance/app/DTO/response/CompletedExerciseResponse.java
  backend/src/main/java/vr/balance/app/DTO/response/PatientDetailResponse.java
  backend/src/main/java/vr/balance/app/controller/ExerciseController.java
  backend/src/main/java/vr/balance/app/controller/UserController.java
  backend/src/main/java/vr/balance/app/repository/exercise/CompletedExerciseRepository.java
  backend/src/main/java/vr/balance/app/service/CompletedExerciseService.java
  backend/src/main/java/vr/balance/app/service/UserService.java
  backend/src/main/java/vr/balance/app/util/Zip.java
  frontend/src/DTO/response/CompletedExerciseResponse.ts
  frontend/src/DTO/response/PatientDetailResponse.ts
  frontend/src/components/patientDetailview/BalanceTestChartComponent.vue
  frontend/src/components/patientDetailview/RecentBalanceTestsComponent.vue
  frontend/src/components/patientDetailview/RecentExercisesComponent.vue
  frontend/src/service/ApiService.ts
  frontend/src/service/ExerciseService.ts
  frontend/src/views/PatientDetailView.vue
Due: build-frontend, deploy-backend, deploy-frontend

Added code comments
  backend/src/main/java/vr/balance/app/service/CompletedExerciseService.java
  backend/src/main/java/vr/balance/app/util/Zip.java
Due: deploy-backend

Fixed build errors and used clearer variables
  backend/src/main/java/vr/balance/app/DTO/response/PatientDetailResponse.java
  backend/src/main/java/vr/balance/app/service/UserService.java
  frontend/src/DTO/response/PatientDetailResponse.ts
  frontend/src/components/patientDetailview/BalanceTestChartComponent.vue
  frontend/src/views/PatientDetailView.vue
  frontend/src/views/PersonalActivityView.vue
Due: build-frontend, deploy-backend, deploy-frontend

Fixed test
  backend/src/test/java/vr/balance/app/unit/service/CompletedExerciseServiceTest.java
Due: deploy-backend

History UI wordt nu dynamishc veranderd als het leeg is
  Assets/Scenes/MainScene.unity
  Assets/Scripts/UI/Main Menu/5History Panel/HistoryUI.cs
Due: none

Added threshhold behaviour to the lunges and adjusted numbers. I hope they work
  Assets/Content/Imported models/NPC Model/NPCOverride.overrideController
  Assets/Resources/Exercises/6 Lunge/1.asset
  Assets/Resources/Exercises/6 Lunge/2.asset
  Assets/Resources/Exercises/6 Lunge/Lunge.asset
  Assets/Resources/Exercises/6 Lunge/PosEasySO.asset
  Assets/Resources/Exercises/6 Lunge/PosMediumSO.asset
  Assets/Resources/Exercises/6 Lunge/ThresholdBehavior.asset
  Assets/Resources/Exercises/6 Lunge/ThresholdBehavior.asset.meta
  Assets/Scenes/MainScene.unity
Due: none

Added lunge description
  Assets/Resources/Exercises/6 Lunge/Lunge.asset
Due: none

Important package name change
  .utmp/RelWithDebInfo/1i2a5130/arm64-v8a/configure_fingerprint.bin
  ProjectSettings/ProjectSettings.asset
Due: none

Target API changed. IMportant so it can be pushliehd to the meta store
  ProjectSettings/ProjectSettings.asset
Due: none

Aniother fix
  .utmp/RelWithDebInfo/1i2a5130/arm64-v8a/.cmake/api/v1/reply/cache-v2-2de2e9f79bf7f16ec052.json
  .utmp/RelWithDebInfo/1i2a5130/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-21e3bd8ef8fcbfee32f0.json
  .utmp/RelWithDebInfo/1i2a5130/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-2ecfc094c5b696027a4e.json
  .utmp/RelWithDebInfo/1i2a5130/arm64-v8a/.cmake/api/v1/reply/index-2025-06-24T21-31-49-0571.json
  .utmp/RelWithDebInfo/1i2a5130/arm64-v8a/.ninja_deps
  .utmp/RelWithDebInfo/1i2a5130/arm64-v8a/.ninja_log
  .utmp/RelWithDebInfo/1i2a5130/arm64-v8a/CMakeCache.txt
  .utmp/RelWithDebInfo/1i2a5130/arm64-v8a/build.ninja
  .utmp/RelWithDebInfo/1i2a5130/arm64-v8a/configure_fingerprint.bin
  Assets/Content/Fonts/Passthrough/LiberationSans SDF - Fallback.asset
  Assets/Irrelevant/Settings/Project Configuration/UniversalRenderPipelineGlobalSettings.asset
  ProjectSettings/ProjectSettings.asset
Due: none
