Repository Gavin1103/vr-balance: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, deploy-backend, deploy-frontend

build-frontend:
  image: node:lts
  stage: build
  tags:
  - local
  script:
  - cd frontend
  - npm install
  - npm run build

deploy-backend:
  stage: deploy
  tags:
  - local
  before_script:
  - apt update && apt install -y curl unzip
  - curl -fsSL https://railway.app/install.sh | sh
  - export PATH="$HOME/.railway/bin:$PATH"
  script:
  - cd backend
  - mkdir -p .railway
  ...

deploy-frontend:
  stage: deploy
  tags:
  - local
  before_script:
  - apt update && apt install -y curl unzip
  - curl -fsSL https://railway.app/install.sh | sh
  - export PATH="$HOME/.railway/bin:$PATH"
  script:
  - cd frontend
  - mkdir -p .railway
  ...

Changed it to var
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
Due: none

WIP new dashboard UI improvements
  Assets/Content/Fonts/Passthrough/LiberationSans SDF - Fallback.asset
  Assets/Scenes/MainScene.unity
  Assets/Scripts/UI/Main Menu/1Dashboard Panel/DashboardUI.cs
Due: none

.
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
Due: none

Static User class that gets used everywhere
  Assets/Scripts/Service/ExerciseService.cs
  Assets/Scripts/Service/UserStatsService.cs
  Assets/Scripts/UI/Login/LoginManager.cs
  Assets/Scripts/UI/Login/Logout.cs
  Assets/Scripts/UI/Main Menu/1Dashboard Panel/DashboardUI.cs
Due: none

Updated api url
  backend/src/main/resources/application-prod.properties
  frontend/.env
Due: build-frontend, deploy-backend, deploy-frontend

User logs out at startup. Set in the LoginMenu
  Assets/Scripts/UI/Login/LoginMenuUI.cs
  Assets/Scripts/UI/Main Menu/1Dashboard Panel/DashboardUI.cs
Due: none

Changed post method to get
  backend/src/main/java/vr/balance/app/config/CorsConfig.java
  backend/src/main/java/vr/balance/app/controller/ExerciseController.java
Due: deploy-backend

Enum
  backend/src/main/java/vr/balance/app/enums/ExerciseEnum.java
Due: deploy-backend

Gedaan
  Assets/Content/Fonts/Passthrough/LiberationSans SDF - Fallback.asset
  Assets/Resources/Exercises/1 Balance Test/Balance Test.asset
  Assets/Resources/Exercises/2 Stretch/Stretch.asset
  Assets/Resources/Exercises/3 Glute Bridge/Glute Bridge.asset
  Assets/Resources/Exercises/5 Squat/Squat.asset
  Assets/Resources/Exercises/6 Lunge/Lunge.asset
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/GenericExercise.cs
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/GenericExerciseSO.cs
  Assets/Scripts/Exercises/Implemented Exercises/2Balance Test/BalanceTestExercise.cs
  Assets/Scripts/Exercises/Implemented Exercises/2Balance Test/BalanceTestExerciseSO.cs
Due: none

Dont save balance test twice
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/GenericExercise.cs
  Assets/Scripts/Exercises/Implemented Exercises/2Balance Test/BalanceTestExercise.cs
Due: none

Return null
  Assets/Scripts/Exercises/Implemented Exercises/2Balance Test/BalanceTestExercise.cs
Due: none

Clean history locally in UI
  Assets/Scripts/UI/Main Menu/5History Panel/HistoryUI.cs
Due: none

Reduce index by 1 when the exercise ends properly
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/GenericExercise.cs
Due: none

reset urls
  backend/src/main/java/vr/balance/app/config/CorsConfig.java
  backend/src/main/resources/application.properties
  frontend/.env
Due: build-frontend, deploy-backend, deploy-frontend

Reworked method
  backend/src/main/java/vr/balance/app/service/CompletedExerciseService.java
Due: deploy-backend

Build
  .idea/dataSources.local.xml
  .idea/workspace.xml
  Assets/Content/Fonts/Passthrough/LiberationSans SDF - Fallback.asset
  Assets/Content/Imported models/NPC Model/NPCOverride.overrideController
  Assets/Scenes/MainScene/Lightmap-0_comp_dir.png.meta
  Assets/Scenes/MainScene/Lightmap-0_comp_light.exr.meta
  Assets/Scenes/MainScene/Lightmap-1_comp_dir.png.meta
  Assets/Scenes/MainScene/Lightmap-1_comp_light.exr.meta
  Assets/Scenes/MainScene/Lightmap-2_comp_dir.png.meta
  Assets/Scenes/MainScene/Lightmap-2_comp_light.exr.meta
  Assets/Scenes/MainScene/Physiotherapy Lighting/Lightmap-0_comp_dir.png.meta
  Assets/Scenes/MainScene/Physiotherapy Lighting/Lightmap-0_comp_light.exr.meta
  Assets/Scenes/MainScene/Physiotherapy Lighting/Lightmap-1_comp_dir.png.meta
  Assets/Scenes/MainScene/Physiotherapy Lighting/Lightmap-1_comp_light.exr.meta
  Assets/Scenes/MainScene/Physiotherapy Lighting/Lightmap-2_comp_dir.png.meta
  Assets/Scenes/MainScene/Physiotherapy Lighting/Lightmap-2_comp_light.exr.meta
Due: none

Auto stash before checking out "origin/UI-Improvements"
  Assets/Resources/Exercises/1 Balance Test/1.asset
  Assets/Resources/Exercises/1 Balance Test/2.asset
  Assets/Resources/Exercises/1 Balance Test/3.asset
  Assets/Resources/Exercises/1 Balance Test/4.asset
Due: none

Bug fixes with balance test behaviours not assigned
  Assets/Content/Fonts/Passthrough/LiberationSans SDF - Fallback.asset
  Assets/Content/Imported models/NPC Model/NPCOverride.overrideController
  Assets/Resources/Exercises/1 Balance Test/1.asset
  Assets/Resources/Exercises/1 Balance Test/2.asset
  Assets/Resources/Exercises/1 Balance Test/3.asset
  Assets/Resources/Exercises/1 Balance Test/4.asset
Due: none

Fixed streak system
  .idea/dataSources.local.xml
  .idea/workspace.xml
  VR-Balance.sln
  backend/src/main/java/vr/balance/app/repository/exercise/CompletedExerciseRepository.java
  backend/src/main/java/vr/balance/app/seed/DatabaseSeeder.java
  backend/src/main/java/vr/balance/app/service/UserStatsService.java
  backend/src/test/java/vr/balance/app/unit/service/UserStatsServiceTest.java
Due: deploy-backend

Fixed order
  backend/src/main/java/vr/balance/app/repository/UserStatsRepository.java
Due: deploy-backend

Added manual for the API installation
  documentation/.DS_Store
  documentation/VR Balance API installation manual.pdf
  documentation/sprint/.DS_Store
Due: none

Quick test to see resources are correctly assigned
  Assets/Resources/Exercises/3 Glute Bridge/Glute Bridge.asset
  Assets/Resources/Exercises/3 Glute Bridge/PosHardSO.asset
  Assets/Resources/Exercises/3 Glute Bridge/PosHardSO.asset.meta
  Assets/Resources/Exercises/3 Glute Bridge/PosMediumSO.asset
  Assets/Resources/Exercises/3 Glute Bridge/PosMediumSO.asset.meta
  Assets/Resources/Exercises/6 Lunge/Lunge.asset
  VR-Balance.sln
Due: none

quick test to see resources are assigned
  Assets/Resources/Exercises/3 Glute Bridge/Glute Bridge.asset
  Assets/Resources/Exercises/3 Glute Bridge/PosHardSO.asset
  Assets/Resources/Exercises/3 Glute Bridge/PosHardSO.asset.meta
  Assets/Resources/Exercises/3 Glute Bridge/PosMediumSO.asset
  Assets/Resources/Exercises/3 Glute Bridge/PosMediumSO.asset.meta
  Assets/Resources/Exercises/6 Lunge/Lunge.asset
Due: none

Added behaviours to the balance tests
  Assets/Resources/Exercises/1 Balance Test/1.asset
  Assets/Resources/Exercises/1 Balance Test/2.asset
  Assets/Resources/Exercises/1 Balance Test/3.asset
  Assets/Resources/Exercises/1 Balance Test/4.asset
Due: none

Added website installation manual
  documentation/VR Balance website installation manual.pdf
Due: none

Added code documentation and API technical documentation
  backend/src/main/java/vr/balance/app/config/AuthenticationManagerConfig.java
  backend/src/main/java/vr/balance/app/config/AuthenticationProvidersConfig.java
  backend/src/main/java/vr/balance/app/config/CorsConfig.java
  backend/src/main/java/vr/balance/app/config/ModelMapperConfig.java
  backend/src/main/java/vr/balance/app/config/PasswordEncoderConfig.java
  backend/src/main/java/vr/balance/app/config/SecurityConfig.java
  backend/src/main/java/vr/balance/app/config/ThymeleafConfig.java
  backend/src/main/java/vr/balance/app/exceptions/handler/GlobalExceptionHandler.java
  backend/src/main/java/vr/balance/app/response/ApiErrorResponse.java
  backend/src/main/java/vr/balance/app/response/ApiStandardResponse.java
  backend/src/main/java/vr/balance/app/security/CustomAccessDeniedHandler.java
  backend/src/main/java/vr/balance/app/security/CustomAuthEntryPoint.java
  backend/src/main/java/vr/balance/app/security/CustomUserDetailsService.java
  backend/src/main/java/vr/balance/app/security/JwtAuthenticationFilter.java
  backend/src/main/java/vr/balance/app/security/JwtService.java
  backend/src/main/java/vr/balance/app/security/PincodeAuthenticationProvider.java
  backend/src/main/java/vr/balance/app/security/PincodeAuthenticationToken.java
  documentation/VR Balance API technical documentation.pdf
Due: deploy-backend

Added documentation
  frontend/src/service/ApiService.ts
Due: build-frontend, deploy-frontend

quick copypaste for headsway code that got lost in translation
  Assets/Content/Fonts/Passthrough/LiberationSans SDF - Fallback.asset
  Assets/Content/Imported models/NPC Model/NPCOverride.overrideController
  Assets/Scripts/Exercises/ExerciseSO.cs
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/ExerciseBehaviour/7Headsway.meta
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/ExerciseBehaviour/7Headsway/HSMovement.cs
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/ExerciseBehaviour/7Headsway/HSMovement.cs.meta
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/ExerciseBehaviour/7Headsway/HSMovementSO.cs
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/ExerciseBehaviour/7Headsway/HSMovementSO.cs.meta
Due: none

Added user manual - unity app
  documentation/User Manual Motion VR Physiotherapy.pdf
Due: none

Added more code documentation and updated technical documentation
  backend/src/main/java/vr/balance/app/config/SwaggerDevConfig.java
  backend/src/main/java/vr/balance/app/config/SwaggerProductionConfig.java
  backend/src/main/java/vr/balance/app/controller/UserController.java
  documentation/VR Balance API technical documentation.pdf
Due: deploy-backend

Added more code documentation and updated technical docs
  backend/src/main/java/vr/balance/app/service/UserStatsService.java
  documentation/VR Balance API technical documentation.pdf
Due: deploy-backend

Added documentation and fixed streak order leaderboard
  backend/src/main/java/vr/balance/app/repository/UserStatsRepository.java
  backend/src/main/java/vr/balance/app/repository/exercise/CompletedBalanceTestExerciseRepository.java
  backend/src/main/java/vr/balance/app/repository/exercise/CompletedExerciseRepository.java
  backend/src/main/java/vr/balance/app/service/StatisticsService.java
Due: deploy-backend

cba to learn new system to incorporate mine mere days before deadline
  Assets/Content/Fonts/Passthrough/LiberationSans SDF - Fallback.asset
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/ExerciseBehaviour/7Headsway/HSMovement.cs
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/ExerciseBehaviour/7Headsway/HSMovementSO.cs
Due: none

Attempt to fix the buttons not showing, lets see
  Assets/Content/Fonts/Passthrough/LiberationSans SDF - Fallback.asset
  Assets/Resources/Exercises/1 Balance Test/1.asset
  Assets/Resources/Exercises/1 Balance Test/2.asset
  Assets/Resources/Exercises/1 Balance Test/3.asset
  Assets/Resources/Exercises/1 Balance Test/4.asset
Due: none

Added documentation of my contribution
  documentation/Unity Documentation/VR Balance Unity Documentation (Posture, Calibration & Login).pdf
Due: none

Reps and sets numbers now change based on difficulty. Also, the exercise classes have a lot less constructor parameters
  Assets/Content/Fonts/Passthrough/LiberationSans SDF - Fallback.asset
  Assets/Resources/Exercises/1 Balance Test/Balance Test.asset
  Assets/Resources/Exercises/1 Balance Test/RepsAndSets.asset
  Assets/Resources/Exercises/1 Balance Test/RepsAndSets.asset.meta
  Assets/Resources/Exercises/2 Stretch/RepsAndSets.asset
  Assets/Resources/Exercises/2 Stretch/RepsAndSets.asset.meta
  Assets/Resources/Exercises/2 Stretch/Stretch.asset
  Assets/Resources/Exercises/3 Glute Bridge/Glute Bridge.asset
  Assets/Resources/Exercises/3 Glute Bridge/RepsAndSets.asset
  Assets/Resources/Exercises/3 Glute Bridge/RepsAndSets.asset.meta
  Assets/Resources/Exercises/5 Squat/RepsAndSets.asset
  Assets/Resources/Exercises/5 Squat/RepsAndSets.asset.meta
  Assets/Resources/Exercises/5 Squat/Squat.asset
  Assets/Resources/Exercises/6 Lunge/RepsAndSets.asset
  Assets/Resources/Exercises/6 Lunge/RepsAndSets.asset.meta
  Assets/Scripts/Exercises/Difficulty/DifficultyManager.cs
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/ExerciseBehaviour/7Headsway/HSMovementSO.cs
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/GenericExercise.cs
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/GenericExerciseSO.cs
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/RepsAndSetsConfig.cs
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/RepsAndSetsConfig.cs.meta
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/RepsAndSetsSO.cs
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/RepsAndSetsSO.cs.meta
  Assets/Scripts/Exercises/Implemented Exercises/2Balance Test/BalanceTestExercise.cs
  Assets/Scripts/Exercises/Implemented Exercises/2Balance Test/BalanceTestExerciseSO.cs
  Assets/Scripts/Exercises/Reps & Sets/RepsAndSets.cs
  Assets/Scripts/Exercises/Reps & Sets/RepsAndSets.cs.meta
  Assets/Scripts/Exercises/Reps & Sets/RepsAndSetsSO.cs
Due: none

WIP behaviour of headsway, now has a different name
  Assets/Content/Imported models/NPC Model/NPCOverride.overrideController
  Assets/MRTK/MRTK-Keyboard-main/MRTK/SDK/Experimental/NonNativeKeyboard/Scripts/NonNativeKeyboard.cs
  Assets/Resources/Exercises/5 Squat/1.asset
  Assets/Resources/Exercises/5 Squat/2.asset
  Assets/Resources/Exercises/5 Squat/HeightThresholdBehavior.asset
  Assets/Resources/Exercises/5 Squat/HeightThresholdBehavior.asset.meta
  Assets/Resources/Exercises/6 Lunge/Lunge.asset
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/ExerciseBehaviour/7Headsway/HeightThresholdBehavior.SO.cs
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/ExerciseBehaviour/7Headsway/HeightThresholdBehavior.SO.cs.meta
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/ExerciseBehaviour/7Headsway/HeightThresholdBehavior.cs
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/ExerciseBehaviour/7Headsway/HeightThresholdBehavior.cs.meta
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/GenericExerciseSO.cs
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/RepsAndSetsConfig.cs
Due: none

Removed log
  Assets/Scripts/UI/Login/LoadUserButton.cs
Due: none

Fixed order streaks ranking
  backend/src/main/java/vr/balance/app/repository/UserStatsRepository.java
Due: deploy-backend

removed a whole bunch of warnings in the console (things like deprecated stuff, or stuff thats not used)
  Assets/Scripts/Exercises/Implemented Exercises/1Generic Exercise/GenericExerciseSO.cs
  Assets/Scripts/Exercises/Implemented Exercises/2Balance Test/BalanceTestExerciseSO.cs
  Assets/Scripts/Exercises/Implemented Exercises/3Fireflies/ButterFlySpawner.cs
  Assets/Scripts/Exercises/Implemented Exercises/3Fireflies/FireFlyWaveManager.cs
  Assets/Scripts/Maps/MapManager.cs
  Assets/Scripts/NPC Scripts/CreateMuscleRaiseToTPose.cs
  Assets/Scripts/NPC Scripts/ExerciseSequenceRunner.cs
  Assets/Scripts/UI/Main Menu/1Dashboard Panel/Calibration/Calibrate.cs
Due: none

Path conditions:
  build-frontend: any of: frontend/**/*
  deploy-backend: any of: backend/**/*
  deploy-frontend: any of: frontend/**/*
